/* Live Chat Styles */
#liveChatContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  font-family: Arial, sans-serif;
}

#chatToggleBtn {
  background-color: #ff3697;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 8px 16px rgba(236, 53, 187, 0.979);
}

#chatBox {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  max-height: 400px;
  background: #751f68;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(212, 57, 158, 0.87);
  overflow: hidden;
  z-index: 99999;
}

#chatHeader {
  background-color: #ffc340;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatCloseBtn {
  background: transparent;
  border: none;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

#chatMessages {
  padding: 10px;
  height: 250px;
  overflow-y: auto;
  font-size: 14px;
}

#chatMessages .message {
  margin-bottom: 8px;
  padding: 6px 10px;
  border-radius: 12px;
  max-width: 75%;
  clear: both;
}

#chatMessages .user {
  background-color: #ff007b;
  color: #ffffff;
  float: right;
  text-align: right;
}

#chatMessages .bot {
  background-color: #d504ff;
  float: left;
}

#chatForm {
  display: flex;
  padding: 10px;
  border-top: 1px solid #444;
  background-color: #ffc340;
}

#chatInput {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

#chatForm button {
  background-color: #ff00a2;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 700;
}